<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SatelliteClientApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SatelliteClientApp.Properties.Settings>
            <setting name="PanoServer" serializeAs="String">
                <value>192.168.0.103</value>
            </setting>
            <setting name="PanoPort" serializeAs="String">
                <value>4030</value>
            </setting>
            <setting name="TablePort" serializeAs="String">
                <value>4031</value>
            </setting>
            <setting name="SatPort" serializeAs="String">
                <value>4032</value>
            </setting>
        </SatelliteClientApp.Properties.Settings>
    </applicationSettings>
</configuration>